.footer
{
    color: #0c0c0c;
    background: #FFF;
    text-align: center;
    font-family: "Space Mono", Arial, serif;  
}

.fa {
    color: #0c0c0c;
    padding: 7px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }

  .fa:hover {
    color: #91640F;
    text-decoration-line: none;
    cursor: pointer;
  }

  
.fa-github:hover {
    text-decoration-line: none;
    cursor: pointer;
} 